/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }



.mat-form-field.mat-form-field {
    width: 100%;
}