<div class="custom-header">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="custom-logo">HR</div>
      </div>
      <div class="col-8">
        <div class="custom-menu">
          <ul>
            <li>
              <a routerLink="/">List HR</a>
            </li>
            <li>
              <a routerLink="/create-hr" class="btn">Create HR</a>
            </li>
            <li>
              <a (click)="logout()" class="btn">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-body">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main-area">
          <router-outlet></router-outlet>
        </div>        
      </div>
    </div>
  </div>
</div>
